In [1]:
import pandas as pd
from datetime import datetime

In [2]:
df201407 = pd.read_csv("/Users/2020/Housing-Market_Price_Project/인구_법정동/nlsp_003001001_201407.csv")
df201510 = pd.read_csv("/Users/2020/Housing-Market_Price_Project/인구_법정동/nlsp_003001001_201510.csv")
df201610 = pd.read_csv("/Users/2020/Housing-Market_Price_Project/인구_법정동/nlsp_003001001_201610.csv")
df201704 = pd.read_csv("/Users/2020/Housing-Market_Price_Project/인구_법정동/nlsp_003001001_201704.csv")
df201710 = pd.read_csv("/Users/2020/Housing-Market_Price_Project/인구_법정동/nlsp_003001001_201710.csv")
df201804 = pd.read_csv("/Users/2020/Housing-Market_Price_Project/인구_법정동/nlsp_003001001_201804.csv")
df201810 = pd.read_csv("/Users/2020/Housing-Market_Price_Project/인구_법정동/nlsp_003001001_201810.csv")
df201904 = pd.read_csv("/Users/2020/Housing-Market_Price_Project/인구_법정동/nlsp_003001001_201904.csv")
df201910 = pd.read_csv("/Users/2020/Housing-Market_Price_Project/인구_법정동/nlsp_003001001_201910.csv")
df202004 = pd.read_csv("/Users/2020/Housing-Market_Price_Project/인구_법정동/nlsp_003001001_202004.csv")
df202010 = pd.read_csv("/Users/2020/Housing-Market_Price_Project/인구_법정동/nlsp_003001001_202010.csv")
df202104 = pd.read_csv("/Users/2020/Housing-Market_Price_Project/인구_법정동/nlsp_003001001_202104.csv")

df_road = pd.read_csv("/Users/2020/road-to-dong/pos00005m.csv")
df_dong = pd.read_csv("/Users/2020/road-to-dong/pos00006m.csv")

In [3]:
datetime201407 = datetime.strptime("20140701", "%Y%m%d")
datetime201510 = datetime.strptime("20151001", "%Y%m%d")
datetime201610 = datetime.strptime("20161001", "%Y%m%d")
datetime201704 = datetime.strptime("20170401", "%Y%m%d")
datetime201710 = datetime.strptime("20171001", "%Y%m%d")
datetime201804 = datetime.strptime("20180401", "%Y%m%d")
datetime201810 = datetime.strptime("20181001", "%Y%m%d")
datetime201904 = datetime.strptime("20190401", "%Y%m%d")
datetime201910 = datetime.strptime("20191001", "%Y%m%d")
datetime202004 = datetime.strptime("20200401", "%Y%m%d")
datetime202010 = datetime.strptime("20201001", "%Y%m%d")
datetime202104 = datetime.strptime("20210401", "%Y%m%d")

In [4]:
df201407.rename(columns={'gid':'lgdng_cd'}, inplace = True)

In [5]:
df201407['lgdng_cd'] = df201407['lgdng_cd'] * 100

In [6]:
df201407.drop(['lbl'], axis=1, inplace=True)

In [7]:
df201407

        lgdng_cd    val
0     1111010100   2592
1     1111010200   1606
2     1111010300    386
3     1111010400    727
4     1111010500    553
...          ...    ...
5045  5013025000  16013
5046  5013025300  18050
5047  5013025900  13775
5048  5013031000   9705
5049  5013032000  11065

[5050 rows x 2 columns]

In [8]:
df201407 = df201407.merge(df_dong, on='lgdng_cd', how='left')

In [9]:
df201407

,lgdng_cd,val,ctpv_nm,ctgg_nm,adstrd_nm,adstrd_en_nm,lgdng_nm,adstrd_cd,admn_inst_cd
0,1111010100,2592,서울특별시,종로구,청운효자동,Cheongunhyoja-dong,청운동,1101072.0,1.111052e+09
1,1111010200,1606,서울특별시,종로구,청운효자동,Cheongunhyoja-dong,신교동,1101072.0,1.111052e+09
2,1111010300,386,서울특별시,종로구,청운효자동,Cheongunhyoja-dong,궁정동,1101072.0,1.111052e+09
3,1111010400,727,서울특별시,종로구,청운효자동,Cheongunhyoja-dong,효자동,1101072.0,1.111052e+09
4,1111010500,553,서울특별시,종로구,청운효자동,Cheongunhyoja-dong,창성동,1101072.0,1.111052e+09
...,...,...,...,...,...,...,...,...,...
6068,5013025000,16013,제주특별자치도,서귀포시,대정읍,Daejeong-eup,대정읍,3902011.0,5.013025e+09
6069,5013025300,18050,제주특별자치도,서귀포시,남원읍,Namwon-eup,남원읍,3902012.0,5.013025e+09
6070,5013025900,13775,제주특별자치도,서귀포시,성산읍,Seongsan-eup,성산읍,3902013.0,5.013026e+09
6071,5013031000,9705,제주특별자치도,서귀포시,안덕면,Andeok-myeon,안덕면,3902031.0,5.013031e+09
6072,5013032000,11065,제주특별자치도,서귀포시,표선면,Pyoseon-myeon,표선면,3902032.0,5.013032e+09

In [10]:
df201407 = df201407.drop_duplicates(['lgdng_cd'])

In [11]:
df201407

,lgdng_cd,val,ctpv_nm,ctgg_nm,adstrd_nm,adstrd_en_nm,lgdng_nm,adstrd_cd,admn_inst_cd
0,1111010100,2592,서울특별시,종로구,청운효자동,Cheongunhyoja-dong,청운동,1101072.0,1.111052e+09
1,1111010200,1606,서울특별시,종로구,청운효자동,Cheongunhyoja-dong,신교동,1101072.0,1.111052e+09
2,1111010300,386,서울특별시,종로구,청운효자동,Cheongunhyoja-dong,궁정동,1101072.0,1.111052e+09
3,1111010400,727,서울특별시,종로구,청운효자동,Cheongunhyoja-dong,효자동,1101072.0,1.111052e+09
4,1111010500,553,서울특별시,종로구,청운효자동,Cheongunhyoja-dong,창성동,1101072.0,1.111052e+09
...,...,...,...,...,...,...,...,...,...
6068,5013025000,16013,제주특별자치도,서귀포시,대정읍,Daejeong-eup,대정읍,3902011.0,5.013025e+09
6069,5013025300,18050,제주특별자치도,서귀포시,남원읍,Namwon-eup,남원읍,3902012.0,5.013025e+09
6070,5013025900,13775,제주특별자치도,서귀포시,성산읍,Seongsan-eup,성산읍,3902013.0,5.013026e+09
6071,5013031000,9705,제주특별자치도,서귀포시,안덕면,Andeok-myeon,안덕면,3902031.0,5.013031e+09
6072,5013032000,11065,제주특별자치도,서귀포시,표선면,Pyoseon-myeon,표선면,3902032.0,5.013032e+09

In [12]:
df201407 = df201407[df201407['ctpv_nm']=='서울특별시']

In [13]:
df201407

,lgdng_cd,val,ctpv_nm,ctgg_nm,adstrd_nm,adstrd_en_nm,lgdng_nm,adstrd_cd,admn_inst_cd
0,1111010100,2592,서울특별시,종로구,청운효자동,Cheongunhyoja-dong,청운동,1101072.0,1.111052e+09
1,1111010200,1606,서울특별시,종로구,청운효자동,Cheongunhyoja-dong,신교동,1101072.0,1.111052e+09
2,1111010300,386,서울특별시,종로구,청운효자동,Cheongunhyoja-dong,궁정동,1101072.0,1.111052e+09
3,1111010400,727,서울특별시,종로구,청운효자동,Cheongunhyoja-dong,효자동,1101072.0,1.111052e+09
4,1111010500,553,서울특별시,종로구,청운효자동,Cheongunhyoja-dong,창성동,1101072.0,1.111052e+09
...,...,...,...,...,...,...,...,...,...
726,1174010600,49102,서울특별시,강동구,둔촌제1동,Dunchon 1(il)-dong,둔촌동,1125070.0,1.174069e+09
728,1174010700,73841,서울특별시,강동구,암사제1동,Amsa 1(il)-dong,암사동,1125072.0,1.174057e+09
731,1174010800,70643,서울특별시,강동구,성내제1동,Seongnae 1(il)-dong,성내동,1125065.0,1.174064e+09
734,1174010900,92891,서울특별시,강동구,천호제1동,Cheonho 1(il)-dong,천호동,1125061.0,1.174060e+09
737,1174011000,25681,서울특별시,강동구,강일동,Gangil-dong,강일동,1125051.0,1.174052e+09

In [14]:
df201407.isnull().values.any()

False

In [15]:
df201407 = df201407.iloc[:, [6, 1]]
df201407

    lgdng_nm    val
0        청운동   2592
1        신교동   1606
2        궁정동    386
3        효자동    727
4        창성동    553
..       ...    ...
726      둔촌동  49102
728      암사동  73841
731      성내동  70643
734      천호동  92891
737      강일동  25681

[467 rows x 2 columns]

In [17]:
len(df_dong[df_dong['ctpv_nm']=='서울특별시']['lgdng_nm'].unique())

491

In [9]:
# pd.set_option('display.max_row', 1000)