### Import & Settings

In [1]:
import pandas as pd

# pd.set_option('display.max_row', 1000)
# pd.set_option('display.max_column', 100)

### Read_

In [2]:
df = pd.read_csv("/Users/2020/Housing-Market_Price_Project/preprocessing_apt_price.csv")
df_comm = pd.read_csv("/Users/2020/Housing-Market_Price_Project/seoul_commercial.csv", encoding = 'cp949')
df_csi = pd.read_excel("/Users/2020/Housing-Market_Price_Project/CSI.xls", header=1)
df_stat = pd.read_excel("/Users/2020/Housing-Market_Price_Project/stat_108001.xls", header=1)

df_call_ir = pd.read_csv("/Users/2020/Housing-Market_Price_Project/ECOS_TABLE_20211011_144110_시장금리(콜).csv", encoding = 'cp949')
df_ppi = pd.read_csv("/Users/2020/Housing-Market_Price_Project/ECOS_TABLE_20211011_150757_생산자물가지수.csv", encoding = 'cp949')
df_cpi = pd.read_csv("/Users/2020/Housing-Market_Price_Project/ECOS_TABLE_20211011_151042_소비자물가지수.csv", encoding = 'cp949')
df_trans = pd.read_csv("/Users/2020/Housing-Market_Price_Project/ECOS_TABLE_20211011_151132_주택매매가격지수.csv", encoding = 'cp949')
df_lease = pd.read_csv("/Users/2020/Housing-Market_Price_Project/ECOS_TABLE_20211011_151208_주택전세가격지수.csv", encoding = 'cp949')
df_trans2 = pd.read_csv("/Users/2020/Housing-Market_Price_Project/ECOS_TABLE_20211011_151301_유형별주택매매가격지수_서울_아파트.csv", encoding = 'cp949')
df_apt_seoul = pd.read_csv("/Users/2020/Housing-Market_Price_Project/ECOS_TABLE_20211011_151340_아파트실거래가격지수_서울.csv", encoding = 'cp949')
df_apt_kor = pd.read_csv("/Users/2020/Housing-Market_Price_Project/ECOS_TABLE_20211011_151432_아파트실거래가격지수_전국.csv", encoding = 'cp949')

### Key 만들기
연+분기 : 'year_quarter' : YYYYQq (type : str)<br>
연+월 : 'year_month' : YYYY-MM-01 (type : datetime64)

In [3]:
# df : 2010Q1 ~ 2017Q4 (type : str)
df['transaction_year_month'] = pd.to_datetime(df['transaction_year_month'], format = "%Y%m")
df.insert(0, 'year_quarter', df['transaction_year_month'].dt.year.astype(str) + \
          'Q' + df['transaction_year_month'].dt.quarter.astype(str))

# df

In [4]:
# df_comm : 2014Q1 ~ 2021Q2 (type : str)
temp_list = [0, 2000, 4000, 5000, 6000, 7500, 9000, 11000,\
             12500, 14000, 16000, 17000, 18000, 19500, 21000,\
             23000, 24000, 26000, 27000, 29000, 30000, 32000,\
             33000, 35000, 37000, 38000, 39000, 41000, 43000, 44000]
df_comm = df_comm.iloc[temp_list][::-1]
df_comm = df_comm[['기준_년_코드', '기준_분기_코드',\
                  '서울_운영_영업_개월_평균', '서울_폐업_영업_개월_평균']]
df_comm.rename(columns={'기준_년_코드':'year', '기준_분기_코드':'quarter'}, inplace=True)
df_comm['year'] = df_comm['year'].astype(str)
df_comm['quarter'] = df_comm['quarter'].astype(str)
df_comm.insert(0, 'year_quarter', df_comm['year'] + 'Q' + df_comm['quarter'])
df_comm.drop(['year', 'quarter'], axis=1, inplace=True)

# df_comm

In [5]:
# df_csi : 2009Q1 ~ 2019Q4 (type : str)
df_csi.insert(0, 'year_quarter', df_csi['기간'].str[:4] + 'Q' + df_csi['기간'].str[-3])
df_csi.drop(['기간', '구분 '], axis=1, inplace=True)

# df_csi

In [6]:
# df_stat : 2008-01-01 ~ 2021-08-01, freq : M, type:datetime64
df_stat = df_stat.transpose().iloc[85:,:5]
columns_df_stat = {0:'transaction_year_month',
                   1:'코스피지수',
                   2:'코스닥지수',
                   3:'코스피200',
                   4:'코스피50'
                  }
df_stat.rename(columns=columns_df_stat, inplace=True)
df_stat['transaction_year_month'] = df_stat['transaction_year_month'].str[:-1]
df_stat['transaction_year_month'] = pd.to_datetime(df_stat['transaction_year_month'], format = "%Y%m")
df_stat['코스피지수'][:-2] = df_stat['코스피지수'][:-2].str.replace(',', '')
df_stat['코스닥지수'][:-2] = df_stat['코스닥지수'][:-2].str.replace(',', '')
df_stat

<ipython-input-6-7f1d72da0235>:12: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_stat['코스피지수'][:-2] = df_stat['코스피지수'][:-2].str.replace(',', '')
<ipython-input-6-7f1d72da0235>:13: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_stat['코스닥지수'][:-2] = df_stat['코스닥지수'][:-2].str.replace(',', '')

             transaction_year_month    코스피지수    코스닥지수  코스피200    코스피50
Unnamed: 85              2015-01-01  1949.26   591.58  249.88  1611.74
Unnamed: 86              2015-02-01  1985.80   624.56  251.46  1611.67
Unnamed: 87              2015-03-01  2041.03   650.49  257.28  1636.78
Unnamed: 88              2015-04-01  2127.17   689.01  266.42  1676.15
Unnamed: 89              2015-05-01  2114.80   711.39  260.39  1627.44
...                             ...      ...      ...     ...      ...
Unnamed: 162             2021-06-01  3296.68  1029.96  438.84  3056.06
Unnamed: 163             2021-07-01  3202.32  1031.14  423.91  2949.94
Unnamed: 164             2021-08-01  3199.27  1038.33  419.79   2919.1
Unnamed: 165             2021-09-01  3068.82  1003.27   401.3  2771.92
Unnamed: 166             2021-10-01   2956.3   953.11  387.42  2680.16

[82 rows x 5 columns]

### Merge(left outer join)
left.merge(right, on='key', how='left')

In [7]:
df = df.merge(df_comm, on='year_quarter', how='left')
df = df.merge(df_csi, on='year_quarter', how='left')
df = df.merge(df_stat, on='transaction_year_month', how='left')

# pd.set_option('display.max_column', 1000000)
df

,year_quarter,Unnamed: 0,dong,addr_road,apt,exclusive_use_area,year_of_completion,transaction_year_month,transaction_date,floor,...,주택구입태도,현재소비지출,미래소비지출,순자산,고용상황,물가예상,코스피지수,코스닥지수,코스피200,코스피50
0,2015Q1,0,개포동,언주로 103,개포2차현대아파트(220),77.75,1988,2015-01-01,11,5,...,98.2,112.5,96.7,94.2,73.1,130.9,1949.26,591.58,249.88,1611.74
1,2015Q1,1,개포동,언주로 103,개포2차현대아파트(220),77.75,1988,2015-03-01,3,5,...,98.2,112.5,96.7,94.2,73.1,130.9,2041.03,650.49,257.28,1636.78
2,2015Q1,2,개포동,언주로 103,개포2차현대아파트(220),77.75,1988,2015-03-01,7,2,...,98.2,112.5,96.7,94.2,73.1,130.9,2041.03,650.49,257.28,1636.78
3,2015Q3,3,개포동,언주로 103,개포2차현대아파트(220),77.75,1988,2015-08-01,16,6,...,91.0,106.4,95.0,92.4,79.0,131.6,1941.49,687.11,232.8,1426.79
4,2015Q1,4,개포동,언주로 3,개포6차우성아파트1동~8동,79.97,1987,2015-01-01,29,5,...,98.2,112.5,96.7,94.2,73.1,130.9,1949.26,591.58,249.88,1611.74
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
614263,2021Q3,37732,중화동,동일로 752,한신2,84.03,1998,2021-08-01,21,3,...,58.0,102.6,87.8,95.7,76.0,133.3,3199.27,1038.33,419.79,2919.1
614264,2021Q1,37733,중화동,동일로144길 74,한영(101),57.66,2003,2021-02-01,27,5,...,53.8,98.0,85.6,95.6,74.5,135.4,3012.95,913.94,409.91,2885.52
614265,2021Q2,37734,중화동,동일로144길 74,한영(102),72.22,2003,2021-05-01,4,4,...,56.4,100.3,87.3,95.3,78.5,131.4,3203.92,981.78,427.91,2964.66
614266,2021Q3,37735,중화동,동일로144길 74,한영(103),58.46,2003,2021-07-01,1,2,...,58.0,102.6,87.8,95.7,76.0,133.3,3202.32,1031.14,423.91,2949.94
614267,2021Q3,37736,중화동,동일로144길 74,한영(103),104.93,2003,2021-08-01,20,7,...,58.0,102.6,87.8,95.7,76.0,133.3,3199.27,1038.33,419.79,2919.1

In [8]:
# 8 indices preprocessing & merge
list_indices_df1 = [df_call_ir, df_trans, df_lease, df_apt_seoul, df_apt_kor] # [4:]
list_indices_df2 = [df_ppi, df_cpi, df_trans2] # [5:]

for df_index in list_indices_df1:
    df_index = df_index.transpose().reset_index().iloc[4:, :2]
    df_index['index'] = df_index['index'].str.replace('/', '')
    df_index['index'] = pd.to_datetime(df_index['index'], format = "%Y%m")
    df_index.rename(columns={'index':'transaction_year_month'}, inplace=True)
    df = df.merge(df_index, on='transaction_year_month', how='left')

for df_index in list_indices_df2:
    df_index = df_index.transpose().reset_index().iloc[5:, :2]
    df_index['index'] = df_index['index'].str.replace('/', '')
    df_index['index'] = pd.to_datetime(df_index['index'], format = "%Y%m")
    df_index.rename(columns={'index':'transaction_year_month'}, inplace=True)
    df = df.merge(df_index, on='transaction_year_month', how='left')

In [9]:
df

,year_quarter,Unnamed: 0,dong,addr_road,apt,exclusive_use_area,year_of_completion,transaction_year_month,transaction_date,floor,...,코스피200,코스피50,0_x,0_y,0_x,0_y,0_x,0_y,0_x,0_y
0,2015Q1,0,개포동,언주로 103,개포2차현대아파트(220),77.75,1988,2015-01-01,11,5,...,249.88,1611.74,1.99,90.570,92.992,80.6,90.9,100.89,99.770,74.6
1,2015Q1,1,개포동,언주로 103,개포2차현대아파트(220),77.75,1988,2015-03-01,3,5,...,257.28,1636.78,1.83,91.151,93.862,82.1,92.4,100.84,99.720,75.2
2,2015Q1,2,개포동,언주로 103,개포2차현대아파트(220),77.75,1988,2015-03-01,7,2,...,257.28,1636.78,1.83,91.151,93.862,82.1,92.4,100.84,99.720,75.2
3,2015Q3,3,개포동,언주로 103,개포2차현대아파트(220),77.75,1988,2015-08-01,16,6,...,232.8,1426.79,1.49,93.12,96.25,85.6,95.6,99.83,100.37,77.6
4,2015Q1,4,개포동,언주로 3,개포6차우성아파트1동~8동,79.97,1987,2015-01-01,29,5,...,249.88,1611.74,1.99,90.570,92.992,80.6,90.9,100.89,99.770,74.6
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
614263,2021Q3,37732,중화동,동일로 752,한신2,84.03,1998,2021-08-01,21,3,...,419.79,2919.1,0.56,119.768,112.863,NaN,NaN,110.72,108.29,101.7
614264,2021Q1,37733,중화동,동일로144길 74,한영(101),57.66,2003,2021-02-01,27,5,...,409.91,2885.52,0.49,111.375,107.73,162.9,125.4,105.91,107.0,97.7
614265,2021Q2,37734,중화동,동일로144길 74,한영(102),72.22,2003,2021-05-01,4,4,...,427.91,2964.66,0.48,115.133,109.761,167.3,130.9,108.65,107.46,99.0
614266,2021Q3,37735,중화동,동일로144길 74,한영(103),58.46,2003,2021-07-01,1,2,...,423.91,2949.94,0.53,118.002,111.715,174.8,137.1,110.28,107.61,100.8
614267,2021Q3,37736,중화동,동일로144길 74,한영(103),104.93,2003,2021-08-01,20,7,...,419.79,2919.1,0.56,119.768,112.863,NaN,NaN,110.72,108.29,101.7

In [10]:
df.columns = ['year_quarter', 'Unnamed: 0', 'dong', 'addr_road', 'apt',
              'exclusive_use_area', 'year_of_completion', 'transaction_year_month',
              'transaction_date', 'floor', 'transaction_real_price',
              '서울_운영_영업_개월_평균', '서울_폐업_영업_개월_평균',
              '소비자태도', '현재생활형편', '미래생활형편', '현재경기판단',
              '미래경기판단', '내구재구입태도', '주택구입태도', '현재소비지출',
              '미래소비지출', '순자산', '고용상황', '물가예상', '코스피지수',
              '코스닥지수', '코스피200', '코스피50', '시장금리(콜)',
              '주택매매가격지수', '주택전세가격지수', '아파트실거래가격지수_서울',
              '아파트실거래가격지수_전국', '생산자물가지수', '소비자물가지수', '주택매매가격지수_서울_아파트']
# df = df.rename(columns=columns_df, inplace=True)

In [12]:
df

,year_quarter,Unnamed: 0,dong,addr_road,apt,exclusive_use_area,year_of_completion,transaction_year_month,transaction_date,floor,...,코스피200,코스피50,시장금리(콜),주택매매가격지수,주택전세가격지수,아파트실거래가격지수_서울,아파트실거래가격지수_전국,생산자물가지수,소비자물가지수,주택매매가격지수_서울_아파트
0,2015Q1,0,개포동,언주로 103,개포2차현대아파트(220),77.75,1988,2015-01-01,11,5,...,249.88,1611.74,1.99,90.570,92.992,80.6,90.9,100.89,99.770,74.6
1,2015Q1,1,개포동,언주로 103,개포2차현대아파트(220),77.75,1988,2015-03-01,3,5,...,257.28,1636.78,1.83,91.151,93.862,82.1,92.4,100.84,99.720,75.2
2,2015Q1,2,개포동,언주로 103,개포2차현대아파트(220),77.75,1988,2015-03-01,7,2,...,257.28,1636.78,1.83,91.151,93.862,82.1,92.4,100.84,99.720,75.2
3,2015Q3,3,개포동,언주로 103,개포2차현대아파트(220),77.75,1988,2015-08-01,16,6,...,232.8,1426.79,1.49,93.12,96.25,85.6,95.6,99.83,100.37,77.6
4,2015Q1,4,개포동,언주로 3,개포6차우성아파트1동~8동,79.97,1987,2015-01-01,29,5,...,249.88,1611.74,1.99,90.570,92.992,80.6,90.9,100.89,99.770,74.6
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
614263,2021Q3,37732,중화동,동일로 752,한신2,84.03,1998,2021-08-01,21,3,...,419.79,2919.1,0.56,119.768,112.863,NaN,NaN,110.72,108.29,101.7
614264,2021Q1,37733,중화동,동일로144길 74,한영(101),57.66,2003,2021-02-01,27,5,...,409.91,2885.52,0.49,111.375,107.73,162.9,125.4,105.91,107.0,97.7
614265,2021Q2,37734,중화동,동일로144길 74,한영(102),72.22,2003,2021-05-01,4,4,...,427.91,2964.66,0.48,115.133,109.761,167.3,130.9,108.65,107.46,99.0
614266,2021Q3,37735,중화동,동일로144길 74,한영(103),58.46,2003,2021-07-01,1,2,...,423.91,2949.94,0.53,118.002,111.715,174.8,137.1,110.28,107.61,100.8
614267,2021Q3,37736,중화동,동일로144길 74,한영(103),104.93,2003,2021-08-01,20,7,...,419.79,2919.1,0.56,119.768,112.863,NaN,NaN,110.72,108.29,101.7

In [11]:
# df.to_csv("./preprocessing_indices.csv")